#login{
	width:100%;
	height:100%;
	opacity:.95;
	top:0;
	left:0;
	position:fixed;
	background-color:#313131;
	overflow:auto;
}

div.popupContent {
	position:absolute;
	left:50%;
	top:17%;
	margin-left:-202px;
	font-family:'Raleway',sans-serif;
}

form {
	max-width:300px;
	min-width:250px;
	padding:10px 50px;
	border:2px solid gray;
	border-radius:10px;
	font-family:raleway;
	background-color:#fff;
}

h2 {
	background-color:#FEFFED;
	padding:20px 35px;
	margin:-10px -50px;
	text-align:center;
	border-radius:10px 10px 0 0;
}

hr {
	margin:10px -50px;
	border:0;
	border-top:1px solid #ccc;
}

textarea {
	background-repeat:no-repeat;
	background-position:5px 7px;
	width:82%;
	height:15px;
	padding:10px;
	resize:none;
	margin-top:7px;
	border:1px solid #ccc;
	font-size:16px;
	font-family:raleway;
	margin-bottom:30px;
}

#loginSubmit{
	text-decoration:none;
	width:100%;
	text-align:center;
	display:block;
	background-color:#FFBC00;
	color:#fff;
	border:1px solid #FFCB00;
	padding:10px 0;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
}